
*.png
*.RData
*.rdx
*.rdb
Rmarkdown_scripts_and_outputs/sept10_2019/KHANDLE_ECOG_effect_modifier_project.html
*.csv
.Rproj.user/*
.Rproj.user/D6BD0091/sources/s-247A465F/42699523-contents
Rmarkdown_scripts_and_outputs/sept10_2019/KHANDLE_ECOG_effect_modifier_project_cache/html/__packages
.Rhistory
.Rproj.user
